<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Позволяет создать одноразовую ссылку для безопасной отправки паролей или другой информации." />
    <meta name="author" content="androm">
    <meta name="theme-color" content="#ffffff" />
    <meta name="theme-color" content="#3f3f3f" media="(prefers-color-scheme: dark)" />

    <title>Отправить защищаемую информацию, пароли, ссылки, тайник</title>

    <link rel="icon" href="img/favicon.ico">
    <!-- secure, password, encryption ->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>

    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('send_css', path='default/bootstrap.min.css') }}" rel="stylesheet" media="(prefers-color-scheme: light)" />
    <link href="{{ url_for('send_css', path='zenburn/bootstrap.min.css') }}" rel="stylesheet" media="(prefers-color-scheme: dark)" />

    <!-- Bootstrap theme CSS -->
    <link href="{{ url_for('send_css', path='default/bootstrap-theme.min.css') }}" rel="stylesheet" media="(prefers-color-scheme: light)" />
    <link href="{{ url_for('send_css', path='zenburn/bootstrap-theme.min.css') }}" rel="stylesheet" media="(prefers-color-scheme: dark)" />

    <!-- Custom styles for this theme -->
    <link href="{{ url_for('send_css', path='default/custom.css') }}" rel="stylesheet" media="(prefers-color-scheme: light)" />
    <link href="{{ url_for('send_css', path='zenburn/custom.css') }}" rel="stylesheet" media="(prefers-color-scheme: dark)" />

    <!-- Custom styles for all themes -->
    <link href="{{ url_for('send_css', path='common.css') }}" rel="stylesheet" />

</head>
<body>
        <div class="container">
            <div class=" page-header">
                
                <h1>Что-то пошло не так!</h1>
                <p class="intro-text">Мы скоро вернемся.</p>
            </div>
        </div>
</body>
