<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:image" content="{{ url_for('send_images', path='Skull_big.jpg') }}" />
    <meta name="author" content="bill@bigmojo.net">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <title>Отправить защищаемую информацию, пароли, ссылки, тайник</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="Отправить защищаемую информацию, пароли, ссылки, тайник" />
    <meta name="description" content="Позволяет создать одноразовую ссылку для безопасной отправки паролей или другой информации." />
    <meta name="keywords" content="dead drop,security,encryption,passwords,secure" />
    <meta name="revisit-after" content="3 month" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- secure, password, encryption ->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>

    <![endif]-->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('send_css', path='bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('send_css', path='jquery.toast.min.css') }}" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('send_css', path='bootstrap-theme.min.css') }}" /><link rel="stylesheet" href="{{ url_for('send_css', path='deaddrop.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('send_images', path='Skull_big.jpg') }}">


    <script>
        {% if id %}
            var dropid='{{id}}';
        {% endif %}
    </script>


</head>
<body>
    <form>
        <div class="container">
            <div class=" page-header">
                
                <h1>Одноразовый тайник</h1>
                <p class="intro-text">Нужно безопасно передать какую-то информацию? Пароль? Любовную записку? Хайку? Это то самое место.</p>
            </div>
            <!-- end header -->

            <div id="MakeDrop">
                <div class="arrow_box arrow_box_info">
                    <p>Введите сообщение, которое вы хотите кому-то отправить.</p>
                </div>
                <div class="panel-body">
                    <textarea name="message" id="message" placeholder="Введите ваше сообщение" class="form-control input-lg" rows="11"></textarea>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="setDrop('{{ url_for('drop') }}')">Сделать тайник!</button>
            </div>
            <!-- end make your drop -->


            <div id="DropComplete">
                <div class="alert-success arrow_box arrow_box_success">
                    <h2>Тайник сделан!</h2>
                    <p>Вам нужно скопировать и отправить приведенное ниже сообщение человеку, которому вы хотите передать это тайник. Обратите внимание, для дополнительной безопасности отправьте пароль отдельно от ссылки.</p>
                </div>
                <div class="panel-body">
                    <div class="drop-complete">
                        <p class="intro-text">
                            Привет,<br />
                            Я посылаю вам некоторую защищенную информацию.<br />
                        </p>
                        <div class="well location-well">
                            Ссылка: <span id="url"></span><br /><br />        
                            Пароль: <span id="pass"></span>
                        </div>

                        <div class="warning">
                            <p>Предупреждение!</p>
                            <ul>
                                <li>Этот тайник будет работать ТОЛЬКО один раз, поэтому будьте осторожны с паролем и обязательно скопируйте данные немедленно.</li>
                                <li>После того, как вы его откроете, данные самоуничтожатся, и эта ссылка больше не будет работать.</li>
                                <li>Эта ссылка будет работать только в течение 24 часов, поэтому, пожалуйста, проверьте в ближайшее время.</li>
                            </ul>
                        </div>
                            
                    </div>
                    
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="window.location.assign('{{ url_for('index') }}')">Сделать другой тайник</button>
            </div>
            <!-- end drop complete -->


            <div id="RetrieveDrop">
                <div class="arrow_box arrow_box_info">
                    <h2>Введите пароль</h2>
                    <p>Это сработает только один раз! Нажатие <strong>'Открыть тайник'</strong> удалит сообщение навсегда.</p>
                </div>
                <div class="panel-body">
                    <input type="text" id="password" class="form-control input-lg" placeholder="Введите свой пароль здесь" size="25" />
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="getDrop('{{ url_for('drop') }}')">Открыть тайник</button>
            </div>
            <!-- end retrieve your drop -->


            <div id="DisplayDrop">
                <div class="alert-success arrow_box arrow_box_success">
                    <h2>Успешно!</h2>
                    <p>Ваше расшифрованное сообщение ниже. Это сообщение было удалено, вы не сможете восстановить его снова.</p>
                </div>
                <div class="panel-body">
                    <pre id="decrypted" />
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="window.location.assign('{{ url_for('index') }}')">Сделай свой собственный тайник</button>
            </div>
            <!-- end display dead drop -->


            <br /><br />
            <a href="#demo" data-toggle="collapse">Это безопасно?</a>

            <div id="demo" class="collapse">
                <p>Here's why your message is safe:</p>

                <ul>
                    <li>Your message is not transmitted unencrypted</li>
                    <li>Your message is not stored unencrypted</li>
                    <li>Your encrypted message is stored for 24 hours, then deleted</li>
                    <li>Once your message is retrieved, it is deleted</li>
                    <li>If there is a problem retrieving your message, including an incorrect password, it is deleted.</li>
                    <li>We cannot decrypt your message, we simply don't have the password</li>
                </ul>
                <p>
                    The security of the encryption used is handled by the Symmetric Encryption engine developed at <a target="_blank" href="http://bitwiseshiftleft.github.io/sjcl/">Stanford</a>.<br>
                </p>
                <p>
                    The largest threat associated with this method is having your message & password both intercepted and retrieved before your intended recipient has an opportunity to retrieve it.
                    You should be mindful of how you transmit these pieces of information, and ideally send the password separate from the link.
                </p>
                <h2>What if you're lying?</h2>
                Well, you're a clever person, have a look at the <a href="https://github.com/BillKeenan/dead-drop-python" target="_blank">code.</a> on github
            <!--</div>

            <div>-->
                 <h2>Suggestions? Ideas?</h2>
                <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'&'+'#'+'9'+'7'+';'+'i'+'l'+'t'+'&'+'#'+'1'+'1'+'1'+';'+'&'+
                        '#'+'5'+'8'+';'+'&'+'#'+'9'+'8'+';'+'i'+'%'+'6'+'C'+'%'+'6'+'C'+'%'+'4'+'0'+'b'+'%'+'6'+'9'+'g'+'%'+
                        '&'+'#'+'5'+'4'+';'+'D'+'o'+'j'+'&'+'#'+'3'+'7'+';'+'6'+'F'+'&'+'#'+'4'+'6'+';'+'%'+'6'+'E'+'%'+'6'+
                        '&'+'#'+'5'+'3'+';'+'t'+"'"+'>'+'b'+'i'+'l'+'l'+'&'+'#'+'6'+'4'+';'+'b'+'&'+'#'+'1'+'0'+'5'+';'+'g'+
                        'm'+'o'+'j'+'o'+'&'+'#'+'4'+'6'+';'+'n'+'&'+'#'+'1'+'0'+'1'+';'+'t'+'<'+'/'+'a'+'>');</script><noscript>[Turn on JavaScript to see the email address]</noscript>

                <h2>Want to help pay the bills?</h2>

            <p class="intro-text">
                <img src="{{ url_for('send_images', path='icon_bitcoin.png') }}" alt="bitcoin">: 12hKGoUhULXQvcG8Lfboy9UE4fS9YtUwwy<br>
                <img src="{{ url_for('send_images', path='icon_litecoin.png') }}" alt="litecoin">: LUeNp4gjN85cnp7VqBtLto9x4raxV5MjMK
            </p>
            </div>
            <!-- end 'is this safe' -->
            

        </div>
        <!-- end container -->
    </form>
..
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('send_js', path='jquery.min.js') }}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('send_js', path='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('send_js', path='sjcl.js') }}"></script>
    <script src="{{ url_for('send_js', path='jquery.toast.min.js') }}"></script>
    <script>
      var s = document.createElement('script');

      var src = "{{ url_for('send_js', path='deaddrop.js') }}?cacheBreak="+Math.floor((Math.random() * 1000000) + 1);
      s.setAttribute('src',src);
      document.body.appendChild( s );
    </script>
    <script src="{{ url_for('send_js', path='merseen.js') }}"></script>
</body>
</html>
