<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="description" content="Позволяет создать одноразовую ссылку для безопасной отправки паролей или другой информации." />
    <meta name="author" content="androm" />
    <meta name="theme-color" content="#222222" />

    <title>Одноразовый тайник - AndRom</title>

    <link rel="icon" href="/img/favicon.ico">
    <!-- secure, password, encryption ->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>

    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('send_css', path='zenburn/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Bootstrap theme CSS -->
    <link href="{{ url_for('send_css', path='zenburn/bootstrap-theme.min.css') }}" rel="stylesheet" />

    <!-- Custom styles for all themes -->
    <link href="{{ url_for('send_css', path='common.css') }}" rel="stylesheet" />

    <!-- Custom styles for this theme -->
    <link href="{{ url_for('send_css', path='zenburn/custom.css') }}" rel="stylesheet" />

    <link href="{{ url_for('send_css', path='deaddrop.css') }}" rel="stylesheet" />
    <link href="{{ url_for('send_css', path='jquery.toast.min.css') }}" rel="stylesheet" />

    <script>
        {% if id %}
            var dropid='{{id}}';
        {% endif %}
    </script>


</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">AndRom</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">Главная</a></li>
            <li class="dropdown">
              <a href="javascript:void()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Сервисы <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/pwgen.html">Генератор паролей</a></li>
                <li class="active"><a href="/deaddrop/">Одноразовый тайник</a></li>
                <li><a href="/icecast.html">Сейчас играет...</a></li>
                <li><a href="/tpvs/">TPVS</a></li>
            </ul>
            <li><a href="/about.html">Подробнее</a></li>
            <li><a href="/contact.html">Контакты</a></li>
          </ul>
          <p class="navbar-text navbar-right">Github <a href="https://github.com/and-rom" class="navbar-link"><img src="/img/GitHub-Mark-32px.png" heght="20px" width="20px">and-rom</a></p>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h3>Нужно безопасно передать какую-то информацию? Это то самое место.</h3>
        </div>
        <!-- end header -->

        <form>
            <div id="MakeDrop">
                <div id="box_info" class="arrow_box arrow_box_info">
                    <p>Введите сообщение, которое вы хотите кому-то отправить.</p>
                </div>
                <div class="panel-body">
                    <textarea name="message" id="message" placeholder="Введите ваше сообщение" class="form-control input-lg" rows="11"></textarea>
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="setDrop('{{ url_for('drop') }}')">Сделать тайник!</button>
            </div>
            <!-- end make your drop -->


            <div id="DropComplete">
                <div class="alert-success arrow_box arrow_box_success">
                    <h3>Тайник сделан!</h3>
                    <p>Вам нужно скопировать и отправить приведенное ниже сообщение человеку, которому вы хотите передать это тайник. Обратите внимание, для дополнительной безопасности отправьте пароль отдельно от ссылки.</p>
                </div>
                <div class="panel-body">
                    <div class="drop-complete">
                        <p class="lead">
                            Привет,<br />
                            Я посылаю вам некоторую защищенную информацию.<br />
                        </p>
                        <div class="well location-well">
                            Ссылка:&nbsp;<span id="url"></span><br /><br />        
                            Пароль:&nbsp;<span id="pass"></span>
                        </div>

                        <div class="warning">
                            <p>Предупреждение!</p>
                            <ul>
                                <li>Этот тайник будет работать ТОЛЬКО один раз, поэтому будьте осторожны с паролем и обязательно скопируйте данные немедленно.</li>
                                <li>После того, как вы его откроете, данные самоуничтожатся, и эта ссылка больше не будет работать.</li>
                                <li>Эта ссылка будет работать только в течение 24 часов, поэтому, пожалуйста, проверьте в ближайшее время.</li>
                            </ul>
                        </div>
                            
                    </div>
                    
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="window.location.assign('{{ url_for('index') }}')">Сделать другой тайник</button>
            </div>
            <!-- end drop complete -->


            <div id="RetrieveDrop">
                <div class="arrow_box arrow_box_info">
                    <h3>Введите пароль</h3>
                    <p>Это сработает только один раз! Нажатие <strong>'Открыть тайник'</strong> удалит сообщение навсегда.</p>
                </div>
                <div class="panel-body">
                    <input type="text" id="password" class="form-control input-lg" placeholder="Введите свой пароль здесь" size="25" />
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="getDrop('{{ url_for('drop') }}')">Открыть тайник</button>
            </div>
            <!-- end retrieve your drop -->


            <div id="DisplayDrop">
                <div class="alert-success arrow_box arrow_box_success">
                    <h3>Успешно!</h3>
                    <p>Ваше расшифрованное сообщение ниже. Это сообщение было удалено, вы не сможете восстановить его снова.</p>
                </div>
                <div class="panel-body">
                    <pre id="decrypted" />
                </div>
                <button type="button" class="btn btn-lg btn-primary" onclick="window.location.assign('{{ url_for('index') }}')">Сделай свой собственный тайник</button>
            </div>
            <!-- end display dead drop -->


            <br /><br />
            <a href="#demo" data-toggle="collapse" class="btn btn-info btn-lg">Это безопасно?</a>

            <div id="demo" class="collapse">
                <p>Вот почему сообщение в безопасности:</p>

                <ul>
                    <li>сообщение не передается незашифрованным</li>
                    <li>сообщение не хранится в незашифрованном виде</li>
                    <li>зашифрованное сообщение хранится в течение 24 часов, а затем удаляется</li>
                    <li>как только сообщение получено, оно удаляется</li>
                    <li>если при получении сообщения возникла проблема, включая неверный пароль, оно удаляется</li>
                    <li>расшифровать сообщение на стороне сервера нет возможности, так как просто неизвестен пароль</li>
                </ul>
                <p>Безопасность используемого шифрования обеспечивается механизмом Symmetric Encryption, разработанным в <a target="_blank" href="http://bitwiseshiftleft.github.io/sjcl/">Стэнфорде</a>.</p>
                <p>Самая большая угроза, связанная с этим методом, заключается в том, что сообщение и пароль будут перехвачены и извлечены до того, как предполагаемый получатель сможет получить его. Следует помнить о том, как передаются получателю пароль и ссылка, в идеале их стоит отправлять отдельно.</p>
                <h3>Что если это ложь?</h3>
                Ну что ж, код приложения опубликован на <a href="https://github.com/and-rom/dead-drop-python" target="_blank">github.com</a>
            </div>
            <!-- end 'is this safe' -->
        
        </form>
    </div>
    <!-- end container -->

    <!-- Begin footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; And Rom, 2015</p>
      </div>
    </footer><!-- End footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('send_js', path='jquery.min.js') }}"></script>
    <script src="{{ url_for('send_js', path='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('send_js', path='sjcl.js') }}"></script>
    <script src="{{ url_for('send_js', path='jquery.toast.min.js') }}"></script>
    <script>
      var s = document.createElement('script');

      var src = "{{ url_for('send_js', path='deaddrop.js') }}?cacheBreak="+Math.floor((Math.random() * 1000000) + 1);
      s.setAttribute('src',src);
      document.body.appendChild( s );
    </script>
    <script src="{{ url_for('send_js', path='merseen.js') }}"></script>
</body>
</html>
