/* SPECIAL CSS
-------------------------------------------------- */

/* [icecst] Customize the carousel
-------------------------------------------------- */

.arrow_box_success:after {
    border-color: rgba(120, 120, 120, 0);
    border-top-color: #0ad1ae;/*!!!*/
}

.arrow_box_info:after {
    border-color: rgba(120, 120, 120, 0);
    border-top-color: #666;/*!!!*/
}
