.page-header {
    margin: auto auto 10px auto;
    border-bottom: none;
}

#DropComplete, #DisplayDrop, #RetrieveDrop {
    display: none;
}

.drop-complete, pre {
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 6px;
    background: #e4e4e4;
    border-color: #888;
    font-size: 18px;
}

.location-well {
    margin: 16px 0em 16px 0em;
    padding: 16px;
    border-radius: 6px;
    background: #f4f4f4;
    overflow-x: auto;
}

.warning {
    border-top: 2px solid #888;
    margin: 32px 0em 16px 0em;
    padding-top: 10px;
    font-size: 16px;
}

.arrow_box {
    position: relative;
    padding: 10px;
    margin-top: 1em;
    border-radius: 6px;
}

.arrow_box h3 {
    margin: 0em;
}

.arrow_box p {
    font-size: 18px;
    margin: 0;
}

.arrow_box:after {
    top: 100%;
    left: 60px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 30px;
    margin-left: -30px;
}

.arrow_box_success {
    background: #0ad1ae;
    color: #fff;
}

.arrow_box_success:after {
    border-color: rgba(120, 120, 120, 0);
    border-top-color: #0ad1ae;
}

.arrow_box_info {
    background: #666;
    color: #fff;
}

.arrow_box_info:after {
    border-color: rgba(120, 120, 120, 0);
    border-top-color: #666;
}

.panel-body {
    padding: 16px 0;
}

.input-lg {
    border-color: #007dc4;
    resize: none;
}

.input-lg:focus {
    box-shadow:none;
    border: 2px solid #007dc4;
}

#demo {
    margin-top: 10px;
    padding: 10px;
    background: #e4e4e4;
    font-size: 16px;
}

#decrypted {
    font-family: "Courier New", Courier, monospace;
}

#message {
    font-family: "Courier New", Courier, monospace;
}

.collapse{display:none}
.collapse.in{display:block}
.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;transition:height .35s ease}
