/* GLOBAL STYLES
-------------------------------------------------- */

body {
  color: #5a5a5a;
}

/* CUSTOM STYLES
-------------------------------------------------- */

/* Customize footer
-------------------------------------------------- */

.footer {
  background-color: #f5f5f5;
}

/* SPECIAL CSS
-------------------------------------------------- */

/* [icecst] Customize the carousel
-------------------------------------------------- */

.arrow_box_success:after {
    border-top-color: #c8e5bc;
}

.arrow_box_info:after {
    border-top-color: #b9def0;
}
